{% extends 'base.html' %}
{% load static %}
<!--Load bootstrap-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}" />
{% endblock %}

{% block content %}

<div id="profile_div">
    <h2>Login</h2>

    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        {% buttons submit='Login' layout='inline' %}{% endbuttons %}
    </form>

</div>

{% endblock %}