{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}" />
{% endblock %}

{% block content %}

    <div id="profile_div">
        <h2>Your profile</h2>
        <p>Username: {{ user.username }}</p>
        {% if user.profile.avatar == None %}
            <img src="" />
        {% else %}
            <img src="{{ default_avatar }}"/>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ user.as_p }}
            {{ profile_form.as_p }}
            <button type="submit">Save changes</button>
        </form>
    </div>

{% endblock %}
