{% extends 'base.html' %}
{% load static %}
<!--Load bootstrap-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Profile{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}" />
{% endblock %}

{% block content %}


<div id="profile_div">
    <h2>Your profile</h2>
    <div>
        {% bootstrap_label "Username :" %}
        <span>{{ user.username }}</span>
    </div>

    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form profile_form layout='inline'  %}
        {% buttons submit='Save changes' layout='inline' %}{% endbuttons %}

    </form>
</div>

{% endblock %}
