@import "../../common/static/master";
@import "../../common/static/common";

#profile_div {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $mobile-max-size) {
    width: 100%;
  }
  @media screen and (min-width: $mobile-max-size) and (max-width: $tablet-max-size) {
    width: 50%;
  }
  width: 50%;
  border: 1px solid $blue-green;
  border-radius: 4px;
  background-color: $background-beige;

  h2 {
    position: relative;
    display: block;
    margin-top: 10px;
    padding: 12px 20px;
    color: $background-beige;
    text-align: center;

    background-color: $blue-green;
    font-family: $basic-font-family;
  }

  div {
    margin: 12px;
  }

  span {
    padding: 15px;
    font-family: $basic-font-family;
  }

  form {
    button {
      display: block;
      position: relative;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      padding: 12px 20px;
      background-color: $blue-green;
      border: none;
      color: white;
      cursor: pointer;

      font-family: $basic-font-family;
    }

    button:hover {
      background-color: $darker-blue;
    }
  }
}


