/*@import "mystyle.css";*/
@import "../../common/static/master";
@import "../../common/static/common";


html, body {
  width: 100%;
}

#wrapper {
  width: 80%;
  height: 80%;
  overflow: hidden;
  //border: 0.5px solid red;
  //display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;

  #calendar-container {
    position: relative;
    margin: 0;
    width: 75%;
    height: 100%;
    float: left;

    table {
      position: relative;
      margin: 0;
      padding: 0;

      height: 100%;
      width: 100%;
      max-width: 100%;
      max-height: 100%;

      th {
        text-align: center;
      }

      td {
        background: $background-beige;
        color: $blue-green;
        border: 0.5px solid $blue-green;
        font-family: $basic-font-family;
        font-size: 18px;
        padding: 4px;

        div.container {
          padding: 0;
          position: relative;
          max-width: 100%;

          div.workout_info {
            margin: 0;
            padding: 2px;
            position: relative;
            max-width: 100%;
            word-wrap: break-word;
            width: 100px;
            overflow-y: hidden;

            color: $darker-blue;
            font-family: $basic-font-family;
            font-size: 12px;
            text-align: left;

            ul {
              padding: 0;
              margin: 0;
              position: relative;

              li {
                padding: 0;
                margin: 0;
                position: relative;
              }
            }
          }

        }
      }
      td.today {
        background: $pink;
        color: $background-beige;
      }

      td.filled {
        background: $lighter-blue;
        color: $background-beige;
      }

      td:hover {
        background: $background-beige;
        color: $blue-green;
      }
    }
  }

  #form-container {
    position: relative;
    width: 25%;
    height: 100%;
    margin: 0;
    float: left;
    border: 3px solid $blue-green;
    max-height: 100%;
    min-height: 100%;

    #form-header {
      background: $blue-green;
      color: $background-beige;
      font-family: $basic-font-family;
      font-size: 20px;
      font-weight: 200;
      height: 80px;
      position: relative;
      padding: 10%;
      text-align: center;
    }

    form {
      color: $pink;
      font-family: $basic-font-family;
      font-size: 14px;
      font-weight: 300;

      input {
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 4px;
        color: $pink;
        font-family: $basic-font-family;
        font-size: 12px;
        font-weight: 300;
      }

      textarea {
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: $background-beige;
        color: $pink;
        font-family: $basic-font-family;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        margin: 0;
        resize: none;
      }

      input[type=button], input[type=submit], input[type=reset] {
        background-color: $blue-green;
        border: none;
        color: white;
        margin: 1.5px;
        text-decoration: none;
        cursor: pointer;
        vertical-align: middle;
        font-family: $basic-font-family;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
      }

      input[type=checkbox] {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
      }

    }
  }
}

#button_wrapper {
  width: 80%;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;

  .btn {
    color: $blue-green;
    width: 20%;
    border: 2px solid $blue-green;
    border-radius: 4px;
    background-color: $background-beige;
  }

}
