@charset "UTF-8";

table {
	display: table;
	width: 80%;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0 auto;
	border: 3px solid #048998;
	padding-top: 20px;
}

th, td {
	width: 100px;
	height: 80px;
}

th {
	background: #048998;
	color: #F6F5F5;
	border: 0.5px solid #F6F5F5;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 200;
	line-height: 32px;
	margin: 0 0 72px;
}

html, body {
	width: 100%;
}

td {
	background: #F6F5F5;
	color: #048998;
	border: 0.5px solid #048998;
	text-align: left;
	vertical-align: top;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 100;
	position: relative;
}

td:hover {
	background: #F6F5F5;
}

.today {
	background: #ED5485;
	color: #F6F5F5;
}

.filled {
	background: #3BB4C1;
	color: #F6F5F5;
}

ul {
	list-style-type: none;
}

.training {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	text-align: right;
}

.workout_info {
	position: absolute;
	min-height: 40px;
	min-width: 100%;
	display: flex;
	color: #04646f;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	text-align: right;
}