{% extends 'base.html' %}
{% load static %}
<!--Load bootstrap-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Calendar{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="{% static 'calendar.js' %}"></script>

<!--<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>-->
{% endblock %}


{% block content %}
<div id="button_wrapper">
    <button class="btn" name="prev" id="prev" onclick="changeMonth('prev')">Previous</button>
    <button class="btn" name="next" id="next" onclick="changeMonth('next')">Next</button>
</div>
<div id="wrapper">
    <div id="calendar-container">
        {{ calendar }}
    </div>

    <div id="form-container">
        <div id="form-header"> Workouts </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <input type="submit" name="update" id="updateBt" value="update"/>
            </div>
            <div>
                <input type="submit" name="create" id="addBt" value="create"/>
            </div>
            <div>
                <input type="submit" name="delete" id="deleteBt" value="delete"/>
            </div>
        </form>
    </div>
</div>


{% endblock %}