{% extends 'base.html' %}
{% load static %}

{% block title %}Calendar{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="{% static 'calendar.js' %}"></script>

<!--<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>-->
{% endblock %}



{% block content %}

{{ calendar }}

<form method="post" enctype="multipart/form-data" id="workoutForm">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <label>Runner's Name</label>
                    <input type="text" name="runner"/>
            </div>
            <div>
                <label>Date</label>
                    <input type="date" name="date" data-date="" data-date-format="DD MMMM YYYY"
                           class="form-control" readonly/>
            </div>
            <div>
                <label>Distance</label>
                    <input type="number" name="distance"/>
            </div>
            <div>
                <label>Comment</label>
                    <textarea name="comment" rows="4" cols="30" form="workoutForm"></textarea>
            </div>
                <div>
                        <input type="submit" id="updateBt" value="update" onclick="sendFormRequest('update_workout')"/>
                </div>
                <div>
                        <input type="submit" id="addBt" value="create" onclick="sendFormRequest('add_workout')"/>
                </div>
                <div>
                        <input type="submit"  id="deleteBt" value="delete" onclick="sendFormRequest('delete_workout')"/>
                </div>
        </fieldset>
    </form>

{% endblock %}