html, body {
    width: 100%;
}

table {
    display: table;
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    border: 3px solid #048998;
    padding-top: 20px;
}

th, td {
    width: 100px;
    height: 80px;
}

/* HEADER */
th {
    background: #048998;
    color:#F6F5F5;
    border: 0.5px solid #F6F5F5;
    font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 200; line-height: 32px; margin: 0 0 72px;
}

/* DAYS */

td {
    background: #F6F5F5;
    color: #048998;
    border: 0.5px solid #048998;
    text-align: left;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 100;
    position: relative;
}

td:hover{
    background: #E3E3E3;
}

.today {
    background: #ED5485;
    color:#F6F5F5;
}

.filled{
    background: #3BB4C1;
    color:#F6F5F5;
}

ul {
  list-style-type: none;
}

.training{
    font-family: 'Open Sans', sans-serif; font-size: 12px;
    position: absolute;
    bottom: 0;
    text-align: right;
}

.workout_info{
    position: absolute;
    /*bottom:0;*/
    min-height:40px;
    min-width: 100%;
    display: flex;
    color: #04646f;
    font-family: 'Open Sans', sans-serif; font-size: 12px;
    text-align: right;
}

/*.filler{*/
    /*height: 80px;*/
    /*border: 2px green solid;*/
    /*flex-grow: 1;*/
/*}*/
/*.container{*/
    /*flex: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-width: 100%;*/
    /*height: 100%;*/
    /*!*min-height: 100%;*!*/
    /*border: 1px solid red;*/
/*}*/

/*.filled:hover .workout_info{*/
    /*position: absolute;*/
    /*!*bottom:0;*!*/
    /*min-height:40px;*/
    /*min-width: 100%;*/
    /*display: flex;*/
    /*color: slategrey;*/

/*}*/