@import "master";

// BASIC TABLE CONFIGURATION
table {
    display: table;
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    border: 3px solid $blue-green;
    padding-top: 20px;
}

th, td {
    width: 100px;
    height: 80px;
}

/* HEADER */
th {
    background: $blue-green;
    color: $background-beige;
    border: 0.5px solid $background-beige;
    font-family: $basic-font-family;
    font-size: 20px;
    font-weight: 200;
    line-height: 32px;
    margin: 0 0 72px;
}